.list {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    min-width: 55vw;
    gap: 20px 0;
    padding: 25px 3%;
}

.list > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px 2%;
}

.list h1 {
    line-height: 10px;
}

.list hr {
    border: 1px solid var(--sec-accent-color);
}

.list a {
    color: var(--accent-color);
}